.one {
    color: red;
}

.two {
    color: red;
}

.tree {
    color: red;
}

.four {
    color: red;
}

.five {
    color: red;
}

.six {
    color: red;
}
table {
    border: solid;
    
}
header{
    font-size: 72px;
    text-align: center;
}

footer{
    font-size: 72px;
    text-align: center;
}